body {
  font-family: system-ui, sans-serif;
  background: #fce7f3;
  text-align: center;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

button {
  background: #ec4899;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

textarea {
  width: 90%;
  height: 300px;
  border-radius: 15px;
  padding: 10px;
}